<section class="advantages">
    <div class="container advantages-container">
        <h2 class="advantages-title">Advantages</h2>
        <div class="advanteges-info">
            <ol class="advantages-list">
                <li class="advantages-list-item">
                    <p class="advantages-list-item-text">Swimming and water sports: try your hand at water skiing</p>
                </li>
                <li class="advantages-list-item">
                    <p class="advantages-list-item-text">Fishing: try to catch your own dinner</p>
                </li>
                <li class="advantages-list-item">
                    <p class="advantages-list-item-text">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water</p>
                </li>
                <li class="advantages-list-item">
                    <p class="advantages-list-item-text">Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.</p>
                </li>
            </ol>
        </div>
        <img class="advantages-img" src="" alt="" srcset="">
    </div>
</section>