.hero-container {
  background-color: #0e1823;
  background-image: url(/img/hero.jpg);
  background-size: cover;
  background-position: center;
}

.title-hero {
  font-size: 80px;
  color: #fbfbfb;
}
