.hero {
  max-width: 375px;
  min-height: 812px;
  padding: 198px 20px 243px;
  margin: 0 auto;
}

.title-hero {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 335px;
  margin-bottom: 24px;
}

.hero-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 38px;
}

.hero-link {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  padding: 14px 32px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background-color: #1b414b;
  width: 141px;
  height: 46px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:hover,
.hero-link:focus {
  color: #1b414b;
  background-color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    min-height: 962px;
    padding: 200px 32px 215px;
  }

  .title-hero {
    font-size: 70px;
    max-width: 704px;
  }

  .hero-text {
    padding: 0 53.5px;
    /* padding-left: 53px;
    padding-right: 54px; */
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 48px;
  }

  .hero-link {
    padding: 16px 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    width: 179px;
    height: 52px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    max-width: 1280px;
    min-height: 800px;
    padding: 155px 139px 180px 140px;
  }

  .title-hero {
    font-size: 80px;
    max-width: 1001px;
  }

  .hero-text {
    padding-left: 202px;
    padding-right: 202px;
  }
}

/* Background image */

.header-hero-container {
  background-image: linear-gradient(
      to bottom,
      rgba(17, 19, 31, 0.15),
      rgba(17, 19, 31, 0.75),
      rgba(17, 19, 31, 0.98)
    ),
    url(/img/hero/hero-bg-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 20px;
}

@media screen and (min-resolution: 192dpi) {
  .header-hero-container {
    background-image: linear-gradient(
        to bottom,
        rgba(17, 19, 31, 0.15),
        rgba(17, 19, 31, 0.75),
        rgba(17, 19, 31, 0.98)
      ),
      url(/img/hero/hero-bg-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .header-hero-container {
    background-image: linear-gradient(
        to bottom,
        rgba(17, 19, 31, 0.15),
        rgba(17, 19, 31, 0.75),
        rgba(17, 19, 31, 0.98)
      ),
      url(/img/hero/hero-bg-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .header-hero-container {
    background-image: linear-gradient(
        to bottom,
        rgba(17, 19, 31, 0.15),
        rgba(17, 19, 31, 0.75),
        rgba(17, 19, 31, 0.98)
      ),
      url(/img/hero/hero-bg-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .header-hero-container {
    background-image: linear-gradient(
        to bottom,
        rgba(17, 19, 31, 0.15),
        rgba(17, 19, 31, 0.75),
        rgba(17, 19, 31, 0.98)
      ),
      url(/img/hero/hero-bg-desk-small.jpg);
  }
}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .header-hero-container {
    background-image: linear-gradient(
        to bottom,
        rgba(17, 19, 31, 0.15),
        rgba(17, 19, 31, 0.75),
        rgba(17, 19, 31, 0.98)
      ),
      url(/img/hero/hero-bg-desk-small@2x.jpg);
  }
}

@media screen and (min-width: 1440px) {
  .header-hero-container {
    background-image: linear-gradient(
        to bottom,
        rgba(17, 19, 31, 0.15),
        rgba(17, 19, 31, 0.75),
        rgba(17, 19, 31, 0.98)
      ),
      url(/img/hero/hero-bg-desk-big.jpg);
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .header-hero-container {
    background-image: linear-gradient(
        to bottom,
        rgba(17, 19, 31, 0.15),
        rgba(17, 19, 31, 0.75),
        rgba(17, 19, 31, 0.98)
      ),
      url(/img/hero/hero-bg-desk-big@2x.jpg);
  }
}
