.our-yachts {
  background-color: #0e1823;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  padding-top: 80px;
}

.our-yachts-title {
  max-width: 300px;
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin: 0 auto;
}
.our-yachts-list {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
}
.our-yachts-list-item {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  background: #fbfbfb;
  border-radius: 24px;
  padding-bottom: 24px;
}

.our-yachts-list-item img {
  width: 100%;
  height: auto;
  border-radius: 24px;
}

.our-yachts-list-item-subtitle {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
  padding-bottom: 16px;
  justify-content: space-between;
  align-items: center;
}
.line {
  position: relative;
}
.line::after {
  content: '';
  position: absolute;
  border-radius: 1px;
  left: 16px;
  bottom: -1px;
  width: calc(100% - 32px);
  height: 2px;

  background: rgba(4, 3, 6, 0.1);
}

.our-yachts-list-item-subtitle-title {
  font-weight: 500;
  font-size: 14px;

  line-height: 1.18;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 147px;
}
.our-yachts-list-item-subtitle-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.4;
}

.our-yachts-list-item-text {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}
.our-yachts-list-item:nth-child(2),
.our-yachts-list-item:nth-child(3) {
  display: none;
}

.our-yachts-list-item-sublist-subitem {
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.our-yachts-grey {
  opacity: 0.4;
}
.capitalize {
  text-transform: capitalize;
}
.our-yachts-btn {
  display: block;
  margin: 0 auto;
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  background-color: transparent;
  width: 141px;
  height: 46px;
  color: #fbfbfb;
  font-weight: 500;
  font-size: 14px;

  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  padding: 14px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-yachts-btn:focus,
.our-yachts-btn:hover {
  background: #fbfbfb;
  color: #1b414b;
}

@media screen and (min-width: 768px) {
  .our-yachts {
    padding-bottom: 150px;
    padding-top: 150px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .our-yachts-list-item:nth-child(2) {
    display: block;
  }
  .our-yachts-list-item-subtitle-title {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.04em;

    max-width: 150px;
  }
  .our-yachts-list-item-subtitle-text {
    font-size: 13px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }

  .our-yachts-title {
    max-width: 600px;
    font-size: 48px;
  }

  .our-yachts-list {
    display: flex;
    gap: 33px;
    justify-content: space-between;
  }
  .our-yachts-list-item {
    width: calc((100% - 32px) / 2);

    justify-content: center;
    align-items: center;
  }

  .our-yachts-list {
    margin-top: 75px;
    margin-bottom: 50px;
  }
  .our-yachts-btn {
    width: 179px;
    height: 52px;
    color: #fbfbfb;

    font-size: 18px;

    line-height: 1.1;
    letter-spacing: -0.02em;
    padding: 16px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .our-yachts {
    padding-left: 50px;
    padding-right: 50px;
  }
  .our-yachts-list-item:nth-child(3) {
    display: block;
  }
  .our-yachts-list-item-subtitle-title {
    max-width: 177px;
  }

  .our-yachts-title {
    max-width: 620px;
  }

  .our-yachts-list {
    gap: 32px;
  }
  .our-yachts-list-item {
    width: calc((100% - 64px) / 3);

    justify-content: center;
    align-items: center;
  }
}
